@font-face {
  font-family: "opensans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "opensans";
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "opensans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
  color: inherit;
  padding: 0;
  cursor: pointer;
  font-weight: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: 'opensans', sans-serif;
}

.container {
  max-width: 1430px;
  margin: 0 auto;
  padding: 0 10px;
}

.btn {
  font-size: 19.8294px;
  color: #fff;
  background-color: #45B871;
  -webkit-box-shadow: 0px 8px 80px rgba(9, 188, 77, 0.2);
          box-shadow: 0px 8px 80px rgba(9, 188, 77, 0.2);
  border-radius: 5px;
}

.header {
  background-color: #e4f5eb;
  padding: 50px 0 77px;
  font-weight: 600;
}
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 75px;
}
.header__logo {
  font-weight: 700;
  font-size: 23.7952px;
  line-height: 15px;
  color: #242323;
}
.header__logo::first-letter {
  color: #45b871;
}
.header__account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__trial-btn {
  line-height: 15px;
  padding: 20px 23px;
  margin-left: 40px;
  margin-right: 12px;
}
.header__come {
  font-size: 19.8294px;
  line-height: 15px;
  color: #575859;
}
.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__title {
  font-weight: 700;
  font-size: 63.4539px;
  line-height: 83px;
  color: #242323;
  margin-bottom: 28px;
  padding-left: 3px;
  padding-top: 5px;
}
.header__desc {
  font-size: 18px;
  line-height: 30px;
  color: #6c6c6a;
  margin-bottom: 50px;
  padding-left: 2px;
}
.header__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__courses-btn {
  line-height: 32px;
  padding: 20px 48px;
  margin-right: 30px;
}
.header__video-btn {
  line-height: 15px;
  color: #242323;
  font-weight: 600;
  font-size: 19.8294px;
}
.header__video-btn::before {
  content: url("../img/header-video-btn.svg");
  margin-right: 15px;
  vertical-align: middle;
}
.header__img {
  position: relative;
  right: -100px;
  max-width: 852px;
}

.menu__list {
  font-size: 19.8294px;
  line-height: 15px;
  color: #575859;
  margin-left: 170px;
}
.menu__item {
  display: inline-block;
}
.menu__item.active {
  font-weight: 700;
}
.menu__item:nth-child(4), .menu__item:nth-child(2) {
  margin-left: 67px;
}
.menu__item:nth-child(3) {
  margin-left: 59px;
}
.menu__btn::after {
  content: url("../img/menu-arrow.svg");
  display: inline-block;
  margin-left: 12px;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.company {
  padding: 68px 0;
}
.company__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.company__title {
  font-weight: 700;
  max-width: 340px;
  font-size: 35.6928px;
  line-height: 50px;
  color: #575859;
}
.company__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.company__item {
  display: inline-block;
}
.company__item:nth-child(2) {
  margin-right: 30px;
}
.company__item:nth-child(3) {
  margin-right: 70px;
}

.start {
  padding: 103px 0 150px;
}
.start__container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 252px;
}
.start__steps {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 255px);
  gap: 30px;
  margin-top: 68px;
  padding-bottom: 30px;
}
.start__steps::before {
  content: url("../img/steps-bg.jpg");
  position: absolute;
  left: -65px;
  top: -72px;
  z-index: -1;
}
.start__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 255px;
  height: 225px;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 100px rgba(87, 88, 89, 0.1);
          box-shadow: 5px 5px 100px rgba(87, 88, 89, 0.1);
  border-radius: 10px;
  cursor: pointer;
}
.start__step-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  background-color: #45b871;
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  line-height: 25px;
  margin-bottom: 30px;
}
.start__step-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 15px;
  color: #242323;
}
.start__step:nth-child(2), .start__step:nth-child(4) {
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}
.start__step.active {
  background-color: #45b871;
}
.start__step.active > .start__step-number {
  background-color: #fff;
  color: #242323;
}
.start__step.active > .start__step-title {
  color: #fff;
}
.start__content {
  -ms-flex-item-align: end;
      align-self: end;
}
.start__title {
  width: 416px;
  font-weight: 700;
  font-size: 58px;
  line-height: 74px;
  color: #242323;
  margin-bottom: 26px;
  margin-left: 4px;
}
.start__desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #8C8E91;
  padding-left: 4px;
}
.start__desc + .start__desc {
  margin-top: 31px;
  margin-bottom: 62px;
}
.start__video-btn {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #242323;
}
.start__video-btn::before {
  content: url("../img/start-video-btn.svg");
  margin-right: 18px;
  vertical-align: middle;
}

.courses {
  padding: 78px 0 106px;
  background-color: #e4f5eb;
}
.courses__title {
  font-weight: 700;
  font-size: 58px;
  line-height: 74px;
  color: #242323;
  margin-bottom: 127px;
  padding-left: 11px;
}
.courses__cards {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  gap: 30px;
  margin-bottom: 25px;
}
.courses__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  font-weight: 700;
  font-size: 20px;
  line-height: 15px;
  padding: 32px 44px 33px;
}

.card {
  background: #fff;
  border: 1px solid #f2efef;
  -webkit-box-shadow: 0px 20px 100px rgba(87, 88, 89, 0.1);
          box-shadow: 0px 20px 100px rgba(87, 88, 89, 0.1);
  border-radius: 15px;
}
.card:nth-child(2), .card:nth-child(5) {
  -webkit-transform: translateY(-49px);
          transform: translateY(-49px);
}
.card__img {
  border-radius: 15px 15px 0 0;
  max-width: 449px;
}
.card__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  color: #242323;
  margin: 27px 20px 21px 30px;
}
.card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -2px 30px 22px;
}
.card__info-lectures {
  font-weight: 600;
  font-size: 20px;
  line-height: 15px;
  color: #575859;
}
.card__info-lectures::before {
  content: url("../img/lectures-icon.svg");
  margin-right: 11px;
  vertical-align: sub;
}
.card__info-learners {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #575859;
}
.card__info-learners::before {
  content: url("../img/learners-icon.svg");
  margin-right: 11px;
  vertical-align: middle;
}
.card__info-price {
  font-weight: 700;
  font-size: 34px;
  line-height: 15px;
  color: #4C68FF;
}

.line {
  max-width: 374px;
  border-top: 1px solid rgba(38, 142, 170, 0.5);
  margin-bottom: 21px;
}

.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.author__photo {
  margin-right: 20px;
}
.author__photo.online {
  position: relative;
}
.author__photo.online::before {
  content: url("../img/online-icon.svg");
  position: absolute;
  top: 0;
  right: 0;
}
.author__photo.offline {
  position: relative;
}
.author__photo.offline::before {
  content: url("../img/offline-icon.svg");
  position: absolute;
  top: 0;
  right: 0;
}
.author__info-name {
  font-weight: 700;
  font-size: 12px;
  line-height: 21px;
}
.author__info-profile {
  font-weight: 700;
  font-size: 12px;
  line-height: 21px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #45b871;
}

.about {
  padding: 151px 0;
}
.about__title {
  text-align: center;
  font-weight: 600;
  font-size: 58px;
  line-height: 74px;
  color: #424232;
  margin-bottom: 50px;
}
.about__reviews {
  display: grid;
  grid-template-columns: 695px auto;
  gap: 77px;
}
.about__review {
  padding: 50px 43px;
  background-color: #fff;
  border: 1px solid rgba(231, 231, 231, 0.7);
  border-radius: 15px;
  cursor: pointer;
}
.about__review + .about__review {
  margin-top: 54px;
}
.about__review.active {
  -webkit-box-shadow: 30px 30px 70px rgba(99, 98, 98, 0.06);
          box-shadow: 30px 30px 70px rgba(99, 98, 98, 0.06);
  padding: 82px 56px;
  -ms-flex-item-align: start;
      align-self: start;
}
.about__review-secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.review__img {
  margin-bottom: 20px;
}
.review__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #8C8E90;
  margin-bottom: 47px;
}
.review__name {
  font-weight: 600;
  font-size: 19.2821px;
  line-height: 6px;
  color: #242323;
  margin-bottom: 19px;
}
.review__post {
  font-weight: 400;
  font-size: 12.8548px;
  line-height: 1px;
  color: #636262;
}
.review.active > .review__text {
  font-size: 28px;
  line-height: 40px;
}
.review.active > .review__name {
  font-size: 30px;
  line-height: 10px;
  margin-bottom: 34px;
}
.review.active > .review__post {
  font-size: 20px;
}

.footer {
  margin-bottom: 115px;
}
.footer__container {
  background-image: url("../img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  padding: 97px 10px 0;
  min-height: 438px;
}
.footer__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 68px;
  text-align: center;
  color: #fff;
  padding-bottom: 50px;
  width: 725px;
  margin: 0 auto;
}
.footer__account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__come-btn {
  border: 1px solid #FFFFFF;
  -webkit-filter: drop-shadow(0px 7px 50px rgba(9, 188, 77, 0.3));
          filter: drop-shadow(0px 7px 50px rgba(9, 188, 77, 0.3));
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  line-height: 15px;
  color: #fff;
  padding: 20px 37px;
  margin-right: 30px;
}
.footer__trial-btn {
  border-radius: 5px;
  background-color: #fff;
  font-weight: 600;
  font-size: 20px;
  line-height: 15px;
  color: #242323;
  padding: 23px 31px;
}

@media (max-width: 1770px) {
  .header__img {
    width: 50%;
    right: 0;
  }

  .start__steps {
    left: 65px;
  }

  .card__img {
    width: 100%;
  }
}
@media (max-width: 1350px) {
  .company__item:nth-child(2) {
    margin-right: 0;
  }
  .company__item:nth-child(3) {
    margin-right: 48px;
  }

  .start__container {
    gap: 15%;
  }
}
@media (max-width: 1280px) {
  .menu__list {
    margin-left: 0;
  }

  .header {
    padding-bottom: 50px;
  }
  .header__top {
    margin-bottom: 50px;
  }
  .header__title {
    font-size: 50px;
    line-height: 78px;
  }

  .company {
    padding: 50px 0;
  }
  .company__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .company__title {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    text-align: center;
    margin-bottom: 20px;
  }

  .start {
    padding-top: 0;
    padding-bottom: 50px;
  }
  .start__container {
    grid-template-columns: repeat(1, auto);
    gap: 20px;
  }
  .start__step:nth-child(2), .start__step:nth-child(4) {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .start__steps {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    left: 0;
    margin-top: 0;
    padding-bottom: 0;
    grid-template-columns: repeat(4, auto);
    justify-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .start__steps::before {
    display: none;
  }
  .start__title {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 50px;
  }
  .start__desc + .start__desc {
    margin-bottom: 31px;
  }

  .courses {
    padding: 50px 0;
  }
  .courses__cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-template-columns: repeat(2, 36%);
  }
  .courses__title {
    margin-bottom: 28px;
    font-size: 50px;
  }

  .card:nth-child(2), .card:nth-child(5) {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  .about {
    padding: 50px 0;
  }
  .about__reviews {
    grid-template-columns: auto auto;
    gap: 50px;
  }

  .footer {
    margin-bottom: 50px;
  }
}
@media (max-width: 1150px) {
  .start__steps {
    grid-template-columns: repeat(2, auto);
  }

  .card__title, .card__info-price {
    font-size: 24px;
  }
  .card__info-lectures, .card__info-learners {
    font-size: 16px;
  }

  .about__reviews {
    grid-template-columns: auto;
  }
}
@media (max-width: 992px) {
  .menu {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 155px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 50px;
    z-index: 5;
    visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    background: #45b871;
  }
  .menu__item:nth-child(2), .menu__item:nth-child(3), .menu__item:nth-child(4) {
    margin-left: 0;
  }
  .menu__burger-line {
    background-color: #242323;
    width: 24px;
    height: 2px;
    display: block;
  }
  .menu__burger::before, .menu__burger::after {
    content: "";
    display: block;
    width: 24px;
    height: 2px;
    margin: 4px 0;
    background-color: #242323;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }
  .menu__burger:focus .menu__burger-line {
    opacity: 0;
  }
  .menu__burger:focus::after {
    -webkit-transform: translateY(-6px) rotate(-135deg);
            transform: translateY(-6px) rotate(-135deg);
  }
  .menu__burger:focus::before {
    -webkit-transform: translateY(6px) rotate(135deg);
            transform: translateY(6px) rotate(135deg);
  }
  .menu__burger:focus + .menu__list {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    visibility: visible;
  }

  .header__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__img {
    width: 70%;
  }
  .header__content {
    margin-bottom: 16px;
  }

  .company__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .courses__cards {
    grid-template-columns: repeat(2, 46%);
  }
}
@media (max-width: 760px) {
  .courses__cards {
    grid-template-columns: repeat(1, 60%);
  }

  .card:nth-child(2), .card:nth-child(4), .card:nth-child(6) {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  .about__review.active {
    padding: 30px;
  }

  .review.active > .review__text {
    font-size: 20px;
    line-height: 32px;
  }
  .review.active > .review__name {
    font-size: 24px;
    margin-bottom: 24px;
  }
  .review.active > .review__post {
    font-size: 16px;
  }

  .footer__title {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media (max-width: 576px) {
  .header {
    padding: 25px 0;
  }
  .header__top {
    margin-bottom: 25px;
  }
  .header__come, .header__video-btn {
    font-size: 14px;
  }
  .header__trial-btn {
    margin-left: 10px;
    margin-right: 0;
  }
  .header__options {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header__courses-btn {
    margin-right: 0;
  }
  .header__desc {
    margin-bottom: 20px;
  }

  .menu__list {
    top: 93px;
  }

  .btn,
  .footer__come-btn,
  .footer__trial-btn {
    font-size: 14px;
    padding: 14px 18px;
  }

  .company {
    padding: 25px 0;
  }

  .start__steps {
    grid-template-columns: repeat(1, auto);
  }

  .courses {
    padding: 25px 0;
  }
  .courses__title {
    margin-bottom: 25px;
  }

  .about {
    padding: 25px 0;
  }
  .about__title {
    margin-bottom: 25px;
  }
  .about__reviews {
    gap: 25px;
  }
  .about__review + .about__review {
    margin-top: 25px;
  }

  .footer {
    margin-bottom: 25px;
  }
  .footer__container {
    min-height: 388px;
  }

  .header__title,
  .courses__title,
  .start__title,
  .about__title,
  .footer__title {
    font-size: 36px;
    line-height: 54px;
  }
}
@media (max-width: 480px) {
  .header__title,
  .company__title,
  .start__title,
  .courses__title,
  .about__title,
  .footer__title {
    font-size: 30px;
  }

  .courses__cards {
    grid-template-columns: repeat(1, 100%);
  }

  .card__title,
  .card__info-price {
    font-size: 18px;
  }
}
